@font-face {
    font-family: DirectiveZero;
    src: url(../fonts/DirectiveZeroWid.ttf);
}
@font-face {
    font-family: ExtremeHazard;
    src: url(../fonts/ExtremeHazard.ttf);
}

body {
    background: rgb(28, 52, 68);
    text-align: center;
    font-family: 'ExtremeHazard', sans-serif;
    color: rgb(194, 239, 221);
}

.largeChartWrapper {
    display: inline-block;
    width: 900px;
    max-width: 100%;
}

.mediumChartWrapper {
    display: inline-block;
    width: 600px;
    max-width: 100%;
}

.smallChartWrapper {
    display: inline-block;
    width: 400px;
    max-width: 100%;
}

.container {
    padding: 16px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    padding: 32px 0;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.frame-header {
    border-style: solid;
    border-width: 10px 12px 4px 12px;
    border-color: transparent;
    border-image: url(/img/frame-header.png) 10 12 4 12 fill / 10px 12px 4px 12px;
    padding: 0 6px;
    text-align: left;
}
.frame-header h1 {
    border-bottom: 2px solid rgb(194, 239, 221);
    display: inline-block;
    font-size: 8px;
    margin: 0px;
    padding: 10px 10px 8px;
}
.frame-body {
    border-style: solid;
    border-width: 10px 12px 16px 12px;
    border-color: transparent;
    border-image: url(/img/frame-body.png) 10 12 16 12 fill / 10px 12px 16px 12px;
}

@media screen and (max-width: 850px) {
    .row {
        padding: 0;
    }
    .column {
        padding: 32px 0;
    }
}
