@font-face {
    font-family: DirectiveZero;
    src: url(../fonts/DirectiveZeroWid.ttf);
}
@font-face {
    font-family: ExtremeHazard;
    src: url(../fonts/ExtremeHazard.ttf);
}

body {
    background: rgb(28, 52, 68);
    text-align: center;
    font-family: 'ExtremeHazard', sans-serif;
    color: rgb(67, 205, 182);
}

.largeChartWrapper {
    display: inline-block;
    width: 900px;
    max-width: 100%;
}

.mediumChartWrapper {
    display: inline-block;
    width: 600px;
    max-width: 100%;
}

.smallChartWrapper {
    display: inline-block;
    width: 400px;
    max-width: 100%;
}

.container {
    margin: 16px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    padding: 32px 0;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}
